# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.env
venv/
.env/
*.sqlite3

# =========================
# FastAPI / Uvicorn
# =========================
*.log

# =========================
# Node / Next.js
# =========================
node_modules/
.next/
out/
build/
dist/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Misc
# =========================
*.swp